<div class="login-wrap">
    <div class="container-fluid h-100">
        <div class="row align-items-center h-100">
            <!-- justify-content-center -->
            <div class="col-sm-12 col-md-12 col-lg-7 col-xl-7">
                <div class="login-section">
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="row mb-4">
                            <div class="col logo text-center">
                                <img src="/assets/images/01-logo-black.png">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-3 text-center">
                                <h4>FORGOT PASSWORD</h4>
                                <!-- <small class="form-text text-muted">Login with your data that you entered during your registration</small> -->
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input formControlName="username" type="text" class="form-control"
                                [class.is-invalid]="username.invalid && username.touched" id=""
                                placeholder="Enter email" required>
                            <div *ngIf="username.invalid && username.touched" class="text-danger">
                                <small *ngIf="username.errors?.required">{{constants.USERNAME_REQUIRED}}</small>
                            </div>
                        </div>
                       
                        <button [disabled]="loginForm.invalid" type="submit"
                            class="btn btn-primary btn-primary.disabled btn-block mt-3 mb-2">Continue</button>
                    </form>
                    <!-- {{loginForm.value | json}} -->
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5 login-right-section">
                <div class="row align-items-center h-100">
                    <div class="col">
                        <div class="osms-text">
                            <i class="icon-osms-text"></i>
                            <h1>A Unique ATS for Unique <br>Professionals.</h1>
                            <h4></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>