<div class="p-4">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="form-row  mb-3 heading-sec">
                <div class="col">
                    <h5 class="card-title" *ngIf="eventId===constants.ADD">Add Email Template</h5>
                    <h5 class="card-title" *ngIf="eventId===constants.EDIT">Edit Email Template</h5>

                </div>
                <div class="col-auto ml-auto">
                    <button type="submit" [disabled]="f.invalid" (click)="onSubmit()" class="btn btn-primary"
                        *ngIf="eventId===constants.ADD">Save</button>
                    <button type="submit" [disabled]="f.invalid" (click)="onEdit()" class="btn btn-primary"
                        *ngIf="eventId===constants.EDIT">Modify</button>

                </div>
            </div>
            <!-- Designation -->
            <div class="card mb-2">
                <div class="card-body">

                    <form #f="ngForm">

                        <div class="row">
                            <div class="col form-group">
                                <label class="asterisk-if-mandatory">Template Name</label>
                                <input type="text" class="form-control" id="template"
                                    [(ngModel)]="emailTemplate.template_name" name="template" #template="ngModel"
                                    [ngClass]="{ 'is-invalid':template.invalid && template.touched }" required>
                                <div *ngIf="template.touched && template.invalid" class="invalid-feedback">
                                    <div *ngIf="template.errors.required ">Template name is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col form-group">
                                <label class="asterisk-if-mandatory">Subject</label>
                                <app-template-editor [id]="'editor1'" [content]="emailTemplate.subject"
                                    (contentChanged)="emailTemplate.subject = $event" [hasTags]="true"
                                    [tags]="[ 'first_name', 'last_name', 'date_of_birth', 'primary_email', 'secondary_email', 'primary_phone_number', 'secondary_phone_number', 'company_name', 'designation', 'skills_1', 'skills_2', 'salary','rate', 'qualification', 'visa', 'current_location', 'total_experience', 'reason_for_job_change', 'rtr_done', 'willing_to_work_on_our_w2', 'open_for_relocation', 'total_experience_in_usa','any_offer_in_hand']">
                                </app-template-editor>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col form-group">
                                <label class="asterisk-if-mandatory">Body</label>
                                <app-template-editor [id]="'editor1'" [content]="emailTemplate.body"
                                    (contentChanged)="emailTemplate.body = $event" [hasTags]="true"
                                    [tags]="[ 'first_name', 'last_name', 'date_of_birth', 'primary_email', 'secondary_email', 'primary_phone_number', 'secondary_phone_number', 'company_name', 'designation', 'skills_1', 'skills_2', 'salary','rate', 'qualification', 'visa', 'current_location', 'total_experience', 'reason_for_job_change', 'rtr_done', 'willing_to_work_on_our_w2', 'open_for_relocation', 'total_experience_in_usa','any_offer_in_hand']">
                                </app-template-editor>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col form-group-mobile">
                                <label class="asterisk-if-mandatory">Signature</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" id="signature"
                                    [(ngModel)]="emailTemplate.signature" name="signature" rows="4" #sig="ngModel"
                                    [ngClass]="{ 'is-invalid':sig.invalid && sig.touched }" required></textarea>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

            <div class="form-row button-sec">
                <div class="col-auto ml-auto">
                    <button type="submit" [disabled]="f.invalid" (click)="onSubmit()" class="btn btn-primary"
                        *ngIf="eventId===constants.ADD">Save</button>
                    <button type="submit" [disabled]="f.invalid" (click)="onEdit()" class="btn btn-primary"
                        *ngIf="eventId===constants.EDIT">Modify</button>

                </div>
            </div>
        </div>
    </div>
</div>