<!-- add  -->
<div id="addDesignation" class="sideCandidate">
  <app-designation-detail
    *ngIf="eventId === 'add'"
    (refreshListEvt)="refreshPage(); eventId = undefined"
    [eventId]="eventId"
    [isPopup]="false"
  >
  </app-designation-detail>
  <app-designation-detail
    *ngIf="eventId === 'edit'"
    [eventId]="eventId"
    (refreshListEvt)="refreshPage(); eventId = undefined"
    [indexAsInput]="indexAsInput"
    [isPopup]="false"
  ></app-designation-detail>
</div>

<div class="search-wrap">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="row mt-3 page-header">
          <div class="col-auto">
            <h4 class="page-title mb-0">Designation</h4>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a>Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  Designation
                </li>
              </ol>
            </nav>
          </div>
          <div class="col ml-auto">
            <div class="form-row">
              <div class="col-auto ml-auto">
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="openDesignation(Constants.ADD, undefined)"
                >
                  <i class="fa fa-user-plus" aria-hidden="true"></i> Add
                  Designation
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="bg-gray mt-2 p-4 rounded">
          <div class="search-box">
            <div class="form-row">
              <div class="col">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span href="" class="input-group-text"
                      ><i class="fa fa-search" aria-hidden="true"></i
                    ></span>
                  </div>
                  <input
                    class="form-control"
                    type="text"
                    [(ngModel)]="search"
                    placeholder="Search by keywords"
                  />
                </div>
              </div>
              <div class="col-auto">
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="fetchCollectionList()"
                >
                  Search
                </button>
              </div>
              <div class="col-auto">
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="openFilters()"
                >
                  Filters
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <!-- Designation -->
      <div class="form-row shortby-section">
        <div class="col-auto">
          <div class="form-check form-group mt-2">
            <input
              class="form-check-input"
              [(ngModel)]="masterSelected"
              name="candidate_list"
              type="checkbox"
              value="c1"
              (change)="checkUncheckAll()"
              id=""
            />
            <label class="form-check-label"> Select All </label>
          </div>
        </div>

        <div class="col-auto">
          <select class="form-control">
            <option>Select Action</option>
            <option value="delete">Delete Selected Candidates</option>
            <option value="export">Export Selected</option>
            <option value="sendmail">Send Mail to Selected</option>
          </select>
        </div>
        <div class="col-auto">
          <button
            type="submit"
            *ngIf="count === 0"
            disabled
            id="goButton"
            (click)="selectHandler()"
            class="btn btn-primary"
          >
            Go
          </button>
          <button
            type="submit"
            *ngIf="count !== 0"
            id="goButton"
            (click)="selectHandler()"
            class="btn btn-primary"
          >
            Go
          </button>
        </div>
        <div class="col-auto line-height-38">
          {{ count }} of {{ collectionSize }} selected
        </div>
        <div class="col-auto ml-auto shortby-dropdown">
          <select
            id="sortAs"
            class="form-control"
            (change)="changeSortingOrder(); fetchCollectionList()"
          >
            <option value="" disabled>Sort by date</option>
            <option value="true">Latest</option>
            <option value="false">Oldest</option>
          </select>
        </div>
      </div>

      <div
        class="card mb-1 candidate-details"
        *ngFor="let d of collection; let index = index"
      >
        <div class="card-body">
          <div class="form-row">
            <div class="col-auto candidate-checkbox">
              <div class="form-check form-group">
                <input
                  class="form-check-input"
                  [(ngModel)]="d.isSelected"
                  type="checkbox"
                  value="{{ d.id }}"
                  name="_list"
                  (change)="isAllSelected()"
                  id=""
                />
              </div>
            </div>
            <div class="col">
              <div class="label-value">{{ d.name ? d.name : "--" }}</div>
              <div class="label-name">Name</div>
            </div>
            <div class="col">
              <div class="label-value">{{ d.remark ? d.remark : "--" }}</div>
              <div class="label-name">Remark</div>
            </div>
            <div class="col">
              <div class="label-value">{{ d.created_at | date: "medium" }}</div>
              <div class="label-name">Created At</div>
            </div>
            <div class="col-auto ml-auto">
              <div class="btn-group">
                <button
                  type="button"
                  class="btn btn-light dropdown-toggle"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Action
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <a
                    class="dropdown-item"
                    (click)="openDesignation(Constants.EDIT, index)"
                    ><i class="fas fa-user-edit"></i> Edit</a
                  >
                  <a class="dropdown-item" (click)="openDeleteModal(d)"
                    ><i class="fa fa-trash" aria-hidden="true"></i> Delete</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-paging
        [page]="page"
        [pageSize]="limit"
        [collectionSize]="collectionSize"
        (pageChangeEvt)="page = $event; this.fetchCollectionList()"
      ></app-paging>
    </div>
  </div>
</div>
