.green {
    color: var(--corporate-green-light)
}
.red {
    color: var(--ck-color-base-error)
}
.avatar {
    height: 50px;
    border-radius: 50%;
}
.yes_deleted, .no_deleted{
    font-size: 1rem;
}