<!--
<app-filter
  #filter
  [params]="filterOn"
  (filterEvt)="
    displayFilter = $event.displayFilter; fetchCollectionEmailList($event.path)
  "
   [(ngModel)]="search"
   (ngSubmit)="fetchCollectionEmailList(listId)"
>
</app-filter>
-->

<div class="search-wrap">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="row mt-3 page-header">
          <div class="col-auto">
            <h4 class="page-title mb-0">Campaign Details</h4>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a> Campaign</a></li>
                <li class="breadcrumb-item active" aria-current="page">Campaigns</li>
                <li class="breadcrumb-item active" aria-current="page">
                  Campaign Details
                </li>
              </ol>
            </nav>
          </div>
        </div>

        <div class="bg-gray mt-2 p-4 rounded">
          <form (ngSubmit)="fetchCollectionEmailList(listId)">
            <div class="search-box">
              <div class="form-row">
                <div class="col">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span href="" class="input-group-text"
                        ><i class="fa fa-search" aria-hidden="true"></i
                      ></span>
                    </div>
                    <input
                      class="form-control"
                      type="text"
                      [(ngModel)]="search"
                      name="searchbox"
                      placeholder="Search by email, template name or list name"
                    />
                  </div>
                </div>
                <div class="col-auto">
                  <button type="submit" class="btn btn-primary">Search</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid mt-3">
    <app-display-filter
      [displayFilter]="displayFilter"
      (removeFilter)="removeFilter($event)"
    ></app-display-filter>

    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="form-row shortby-section form-group">
          <div class="col-auto line-height-38 ml-auto">Page Size:</div>
          <div class="col-auto">
            <select
              id="page-size"
              class="form-control"
              (change)="setListPageSize(listId)"
            >
              <option value="10" selected="">10</option>
              <option value="20">20</option>
              <option value="50">50</option>
              <option value="100">100</option>
              <option value="500">500</option>
              <option value="1000">1000</option>
              <option value="5000">5000</option>
            </select>
          </div>
        </div>

        <div
          class="card mb-1 candidate-details"
          *ngFor="let a of collection; let index = index"
        >

        
          <div class="card-body">
            <div class="form-row">
              <div class="col" (click)="openTemplate(index)">
                <div class="label-value">
                  {{ a.campaign_name?.campaign_name ?? "--" }}
                </div>
                <div class="label-name">Campaign Name</div>
              </div>

              <div class="col" (click)="openTemplate(index)">
                <div class="label-value">
                  {{
                    a.template_name.template_name
                      ? a.template_name.template_name
                      : "--"
                  }}
                </div>
                <div class="label-name">Template Name</div>
              </div>

              <div class="col" (click)="openTemplate(index)">
                <div class="label-value">
                  {{
                    a.email_to 
                   
                      ? a.email_to 
                        
                      : "--"
                  }}
                </div>
                <!-- <div *ngIf = "a.vendor.contact_person_last_name !== null" class="label-value">
                  {{
                    a.vendor.contact_person_first_name +
                    " " +
                    a.vendor.contact_person_last_name
                      ? a.vendor.contact_person_first_name +
                        " " +
                        a.vendor.contact_person_last_name
                      : "--"
                  }}
                </div> -->
                <div class="label-name">Email Name</div>
              </div>

              <div class="col-auto ml-auto">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-light dropdown-toggle"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Action
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" (click)="openTemplate(index)"
                      ><i class="fa fa-eye" aria-hidden="true"></i> View</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <app-paging
          [page]="page"
          [pageSize]="limit"
          [collectionSize]="collectionSize"
          (pageChangeEvt)="page = $event; fetchCollectionEmailList(listId)"
        ></app-paging>
      </div>
    </div>
  </div>
</div>
