<div class="login-wrap">
    <div class="container-fluid h-100">
        <div class="row align-items-center h-100">
            <!-- justify-content-center -->
            <div class="col-sm-12 col-md-12 col-lg-7 col-xl-7">
                <div class="login-section">

                    <div class="row mb-4">
                        <div class="col logo text-center">
                            <img src="/assets/images/01-logo-black.png">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3 text-center">
                            <h4>Error</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="heading d-flex justify-content-center">
                                404
                            </div>
                            <div class="heading2 d-flex justify-content-center">
                                Page doesn't exist.
                            </div>
                        </div>
                    </div>
                    <button type="button" (click)="goBack()" class="btn btn-primary btn-block mt-3 mb-2">Go
                        Back</button>


                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5 login-right-section">
                <div class="row align-items-center h-100">
                    <div class="col">
                        <div class="osms-text">
                            <i class="icon-osms-text"></i>
                            <h1>A Unique ATS for Unique <br>Professionals.</h1>
                            <h4></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>