<div id="addInterviewer" class="sideCandidate">
  <!-- <a href="javascript:void(0)" class="closebtn" (click)="closeInterviewer()">&times;</a> -->
  <app-add-interviewer
    *ngIf="eventId === constants.ADD"
    (closeAddEditPage)="closeInterviewer(); eventId = undefined"
    (refreshListEvt)="refreshPage(); eventId = undefined"
    [eventId]="eventId"
  >
  </app-add-interviewer>
  <app-add-interviewer
    *ngIf="eventId === constants.EDIT"
    (closeAddEditPage)="closeInterviewer(); eventId = undefined"
    (refreshListEvt)="refreshPage(); eventId = undefined"
    [eventId]="eventId"
    [indexAsInput]="indexAsInput"
  ></app-add-interviewer>
</div>

<div class="search-wrap">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="row mt-3 page-header">
          <div class="col-auto">
            <h4 class="page-title mb-0">Interviewers</h4>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a>Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  Interviewers
                </li>
              </ol>
            </nav>
          </div>
          <div class="col ml-auto">
            <div class="form-row">
              <!-- <div class="col pr-0">
                                <select class="form-control" id="">
                                    <option>Short By</option>
                                </select>
                            </div> -->
              <div class="col-auto ml-auto">
                <!-- <button type="button" class="btn btn-primary" onclick="openImportInterviewer()">
                                    <i class="fa fa-download" aria-hidden="true"></i> Import
                                </button>
                                <button type="button" class="btn btn-primary" onclick="openExportInterviewer()">
                                    <i class="fa fa-share-square" aria-hidden="true"></i> Export
                                </button> -->
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="openInterviewer(constants.ADD, undefined)"
                >
                  <i class="fa fa-user-plus" aria-hidden="true"></i> Add
                  Interviewer
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="bg-gray mt-2 p-4 rounded">
          <form (ngSubmit)="fetchCollectionList()">
            <div class="search-box">
              <div class="form-row">
                <div class="col">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span href="" class="input-group-text"
                        ><i class="fa fa-search" aria-hidden="true"></i
                      ></span>
                    </div>
                    <input
                      class="form-control"
                      type="text"
                      [(ngModel)]="search"
                      name="searchbox"
                      placeholder="Search by Interviewer name"
                    />
                  </div>
                </div>
                <div class="col-auto">
                  <button type="submit" class="btn btn-primary">Search</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <!-- Designation -->
        <div class="form-row shortby-section">
          <div class="col-auto">
            <div class="form-check form-group mt-2">
              <input
                class="form-check-input"
                [(ngModel)]="masterSelected"
                name="client_list"
                type="checkbox"
                value="c1"
                (change)="checkUncheckAll()"
                id=""
              />
              <label class="form-check-label"> Select All </label>
            </div>
          </div>

          <div class="col-auto">
            <select id="actionType" class="form-control">
              <option>Select Action</option>
              <option value="delete">Delete Selected Interviewer</option>
            </select>
          </div>
          <div class="col-auto">
            <button
              type="submit"
              *ngIf="count === 0"
              disabled
              id="goButton"
              (click)="selectHandler()"
              class="btn btn-primary"
            >
              Go
            </button>
            <button
              type="submit"
              *ngIf="count !== 0"
              id="goButton"
              (click)="selectHandler()"
              class="btn btn-primary"
            >
              Go
            </button>
          </div>
          <div class="col-auto line-height-38">
            {{ count }} of {{ collectionSize }} selected
          </div>
          <div class="col-auto ml-auto shortby-dropdown">
            <select
              class="form-control"
              (change)="changeSortingOrder(); fetchCollectionList()"
            >
              <option>Sort by</option>
              <option>Latest</option>
              <option>Oldest</option>
            </select>
          </div>
        </div>

        <div
          class="card mb-1 candidate-details bg-green-light border-green-light"
          [ngClass]="{
            'bg-green-light': selectedItemIndex === index,
            'border-green-light': selectedItemIndex === index
          }"
          *ngFor="let c of collection; let index = index"
        >
          <div class="card-body">
            <div class="form-row">
              <div class="col-auto candidate-checkbox">
                <div class="form-check form-group">
                  <input
                    class="form-check-input"
                    [(ngModel)]="c.isSelected"
                    type="checkbox"
                    value="{{ c.id }}"
                    name="cient_list"
                    (change)="isAllSelected()"
                    id=""
                  />
                </div>
              </div>
              <div class="col pl-0" (click)="openRowDetail(index)">
                <div class="label-value">
                  {{ c.first_name === "Other" ? c.primary_email : c.first_name }} {{ c.last_name ?? "" }}
                </div>
                <div class="label-name">{{ c.first_name === "Other" ? "Interviewer Email" : "Interviewer Name" }}</div>
              </div>

              <div class="col" (click)="openRowDetail(index)">
                <div class="label-value">
                  {{ c.designation ? c.designation.name : "--" }}
                </div>
                <div class="label-name">Designation</div>
              </div>

              <div class="col" (click)="openRowDetail(index)">
                <div class="label-value">{{ c.phone_number }}</div>
                <div class="label-name">Phone</div>
              </div>

              <div class="col-auto ml-auto">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-light dropdown-toggle"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Action
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a
                      class="dropdown-item"
                      *ngIf="selectedItemIndex !== index"
                      (click)="openRowDetail(index)"
                      ><i class="fa fa-eye" aria-hidden="true"></i> View</a
                    >
                    <a
                      class="dropdown-item"
                      (click)="openInterviewer(constants.EDIT, index)"
                      ><i class="fas fa-user-edit"></i> Edit</a
                    >
                    <a class="dropdown-item" (click)="openDeleteUserModel(c.id)"
                      ><i class="fa fa-trash" aria-hidden="true"></i> Delete</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="candidate-details-full border-top"
            *ngIf="selectedItemIndex === index"
          >
            <div class="row">
              <div class="col">
                <div class="card-body">
                  <div class="row mb-3">
                    <div class="col">
                      <div class="label-value">{{ c.primary_email }}</div>
                      <div class="label-name">Email</div>
                    </div>
                    <div class="col">
                      <div class="label-value">
                        {{ c.created_at | date: "medium" }}
                      </div>
                      <div class="label-name">Created At</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <app-paging
          [page]="page"
          [pageSize]="limit"
          [collectionSize]="collectionSize"
          (pageChangeEvt)="page = $event; fetchCollectionList()"
        ></app-paging>
      </div>
    </div>
  </div>
</div>
