<div id="addActivityStatus" class="sideCandidate">
  <a
    href="javascript:void(0)"
    class="closebtn"
    (click)="closeAddActivityStatus()"
    >&times;</a
  >

  <app-add-activity
    *ngIf="eventId === constants.ADD"
    (refreshListEvt)="refreshPage(); eventId = undefined"
    [eventId]="eventId"
  >
  </app-add-activity>

  <app-add-activity
    *ngIf="eventId === constants.EDIT"
    (refreshListEvt)="refreshPage(); eventId = undefined"
    [eventId]="eventId"
    [indexAsInput]="indexAsInput"
  ></app-add-activity>
</div>

<div class="search-wrap">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="row mt-3 page-header">
          <div class="col-auto">
            <h4 class="page-title mb-0">Candidates Status</h4>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a>Candidates</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  Candidates Status
                </li>
              </ol>
            </nav>
          </div>
          <div class="col ml-auto">
            <div class="form-row">
              <div class="col-auto ml-auto">
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="openAddActivityStatus(constants.ADD, undefined)"
                >
                  <i class="fa fa-user-plus" aria-hidden="true"></i> Add
                  Activity Status
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="bg-gray mt-2 p-4 rounded">
          <form (ngSubmit)="fetchCollectionList()">
            <div class="search-box">
              <div class="form-row">
                <div class="col">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span href="" class="input-group-text"
                        ><i class="fa fa-search" aria-hidden="true"></i
                      ></span>
                    </div>
                    <input
                      class="form-control"
                      [(ngModel)]="search"
                      name="searchbox"
                      type="text"
                      placeholder="Search by candidate first name"
                    />
                  </div>
                </div>
                <div class="col-auto">
                  <button type="submit" class="btn btn-primary">Search</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <!-- Designation -->
      <div class="form-row shortby-section">
        <div class="col-auto">
          <div class="form-check form-group mt-2">
            <input
              class="form-check-input"
              type="checkbox"
              [(ngModel)]="masterSelected"
              (change)="checkUncheckAll()"
            />
            <label class="form-check-label"> Select All </label>
          </div>
        </div>

        <div class="col-auto">
          <select id="actionType" class="form-control">
            <option value="delete">Delete Selected Candidate Status</option>
            <!-- <option value="export">Export Selected</option> -->
            <!-- <option value="sendMail">Send Mail to Selected</option> -->
          </select>
        </div>
        <div class="col-auto">
          <button
            type="button"
            *ngIf="count === 0"
            disabled
            id="goButton"
            (click)="selectHandler()"
            class="btn btn-primary"
          >
            Go
          </button>
          <button
            *ngIf="count !== 0"
            type="button"
            id="goButton"
            (click)="selectHandler()"
            class="btn btn-primary"
          >
            Go
          </button>
        </div>
        <div class="col-auto line-height-38">
          {{ count }} of {{ collectionSize }} selected
        </div>
        <div class="col-auto ml-auto shortby-dropdown">
          <select
            id="sortAs"
            class="form-control"
            (change)="changeSortingOrder(); fetchCollectionList()"
          >
            <option value="" disabled>Sort by date</option>
            <option value="true">Latest</option>
            <option value="false">Oldest</option>
          </select>
        </div>
      </div>

      <div
        class="card mb-1 candidate-details bg-green-light border-green-light"
        [ngClass]="{
          'bg-green-light': selectedItemIndex === index,
          'border-green-light': selectedItemIndex === index
        }"
        *ngFor="
          let a of collection
            | orderByDate: 'created_at':order
            
          let index = index
        "
      ><!--| filter: searchedKeyword;-->
        <div class="card-body">
          <div class="form-row">
            <div class="col-auto candidate-checkbox">
              <div class="form-check form-group">
                <input
                  class="form-check-input"
                  type="checkbox"
                  [(ngModel)]="a.isSelected"
                  type="checkbox"
                  value="{{ a.id }}"
                  (change)="isAllSelected()"
                />
              </div>
            </div>
            <div class="col pl-0" (click)="openRowDetail(index)">
              <div class="label-value">
                {{ a.candidate_name ? a.candidate_name.first_name : "-" }}
                {{ a.candidate_name ? a.candidate_name.last_name : "-" }}
              </div>
              <div class="label-name">Candidate Name</div>
            </div>

            <div class="col" (click)="openRowDetail(index)">
              <div class="label-value">{{ a.activity_status }}</div>
              <div class="label-name">Candidate Status</div>
            </div>

            <div class="col-auto mr-4" (click)="openRowDetail(index)">
              <div class="label-value">{{ a.created_at | date: "medium" }}</div>
              <div class="label-name">Created At</div>
            </div>
            <div class="col-auto ml-auto">
              <div class="btn-group">
                <button
                  type="button"
                  class="btn btn-light dropdown-toggle"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Action
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <a
                    class="dropdown-item"
                    *ngIf="selectedItemIndex !== index"
                    (click)="openRowDetail(index)"
                    ><i class="fa fa-eye" aria-hidden="true"></i> View</a
                  >
                  <!-- <a class="dropdown-item" (click)="openAddActivityStatus(constants.EDIT, index)"><i
                                            class="fas fa-user-edit"></i>
                                        Edit</a> -->
                  <a class="dropdown-item" (click)="openDeleteModel(a.id)"
                    ><i class="fa fa-trash" aria-hidden="true"></i> Delete</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="candidate-details-full border-top"
          *ngIf="selectedItemIndex === index"
        >
          <div class="row">
            <div class="col">
              <div class="card-body">
                <div class="row mb-3">
                  <div class="col" (click)="openRowDetail(index)">
                    <div class="label-value">{{ a.notes }}</div>
                    <div class="label-name">Notes</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-paging
        [page]="page"
        [pageSize]="limit"
        [collectionSize]="collectionSize"
        (pageChangeEvt)="page = $event; fetchCollectionList()"
      ></app-paging>
    </div>
  </div>
</div>
