<div id="addClient" class="sideCandidate">
  <!-- <a href="javascript:void(0)"  class="closebtn" (closeAddEditPage)="closeClient()">&times;</a> -->
  <app-add-client
    *ngIf="eventId === constants.ADD"
    (closeAddEditPage)="closeClient(); eventId = undefined"
    (refreshListEvt)="refreshPage(); eventId = undefined"
    [eventId]="eventId"
  >
  </app-add-client>
  <app-add-client
    *ngIf="eventId === constants.EDIT"
    (closeAddEditPage)="closeClient(); eventId = undefined"
    (refreshListEvt)="refreshPage(); eventId = undefined"
    [eventId]="eventId"
    [indexAsInput]="indexAsInput"
  >
  </app-add-client>
</div>

<app-filter
[allNewJobsClient]="allNewJobsClient"
  #filter
  [params]="filterOn"
  (filterEvt)="
    displayFilter = $event.displayFilter; fetchCollectionList($event.path)
  "
>
</app-filter>

<div class="search-wrap">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="row mt-3 page-header">
          <div class="col-auto">
            <h4 class="page-title mb-0">Clients</h4>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a>Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  Clients
                </li>
              </ol>
            </nav>
          </div>
          <div class="col ml-auto">
            <div class="form-row">
              <!-- <div class="col pr-0">
                                    <select class="form-control" id="">
                                        <option>Short By</option>
                                    </select>
                                </div> -->
              <div class="col-auto ml-auto">
                <button
                  type="button"
                  class="btn btn-primary"
                  data-toggle="modal"
                  (click)="openImportModal()"
                  data-target="#popup-Import"
                >
                  <i class="fa fa-download" aria-hidden="true"></i>
                  Import</button
                >&nbsp;
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="openExport()"
                >
                  <i class="fa fa-share-square" aria-hidden="true"></i>
                  Export</button
                >&nbsp;
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="openClient(constants.ADD, undefined)"
                >
                  <i class="fa fa-user-plus" aria-hidden="true"></i> Add Client
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="bg-gray mt-2 p-4 rounded">
          <form (ngSubmit)="fetchCollectionList()">
            <div class="search-box">
              <div class="form-row">
                <div class="col">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span href="" class="input-group-text"
                        ><i class="fa fa-search" aria-hidden="true"></i
                      ></span>
                    </div>
                    <input
                      class="form-control"
                      [(ngModel)]="search"
                      name="searchbox"
                      type="text"
                      placeholder="Search by keywords"
                    />
                  </div>
                </div>
                <div class="col-auto">
                  <button type="submit" class="btn btn-primary">Search</button>
                </div>
                <div class="col-auto">
                  <button
                    type="button"
                    class="btn btn-primary"
                    (click)="openFilter()"
                  >
                    Filters
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-3">
  <app-display-filter
    [displayFilter]="displayFilter"
    (removeFilter)="removeFilter($event)"
  ></app-display-filter>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="form-row shortby-section">
        <div class="col-auto">
          <div class="form-check form-group mt-2">
            <input
              class="form-check-input"
              [(ngModel)]="masterSelected"
              name="client_list"
              type="checkbox"
              value="c1"
              (change)="checkUncheckAll()"
              id=""
            />
            <label class="form-check-label"> Select All </label>
          </div>
        </div>

        <div class="col-auto">
          <select id="actionType" class="form-control">
            <option>Select Action</option>
            <option value="delete">Delete Selected Clients</option>
            <!-- <option value="export">Export Selected</option> -->
            <!-- <option value="sendMail">Send Mail to Selected</option> -->
          </select>
        </div>
        <div class="col-auto">
          <button
            type="submit"
            *ngIf="count === 0"
            disabled
            id="goButton"
            (click)="selectHandler()"
            class="btn btn-primary"
          >
            Go
          </button>
          <button
            type="submit"
            *ngIf="count !== 0"
            id="goButton"
            (click)="selectHandler()"
            class="btn btn-primary"
          >
            Go
          </button>
        </div>
        <div class="col-auto line-height-38">
          {{ count }} of {{ collectionSize }} selected
        </div>
        <div class="col-auto ml-auto shortby-dropdown">
          <select
            id="sortAs"
            class="form-control"
            (change)="changeSortingOrder(); fetchCollectionList()"
          >
            <option value="" disabled>Sort by date</option>
            <option value="true">Latest</option>
            <option value="false">Oldest</option>
          </select>
        </div>
      </div>
      <!-- |orderByDate:'created_at':order -->
      <div
        class="card mb-1 candidate-details"
        [ngClass]="{
          'bg-green-light': selectedItemIndex === index,
          'border-green-light': selectedItemIndex === index
        }"
        *ngFor="let c of collection; let index = index"
      >
        <div class="card-body">
          <div class="form-row">
            <div class="col-auto candidate-checkbox">
              <div class="form-check form-group">
                <input
                  class="form-check-input"
                  [(ngModel)]="c.isSelected"
                  type="checkbox"
                  value="{{ c.id }}"
                  name="cient_list"
                  (change)="isAllSelected()"
                  id=""
                />
              </div>
            </div>
            <div class="col" (click)="openRowDetail(index)">
              <div class="label-value">
                {{ c.company_name ? c.company_name : "--" }}
              </div>
              <div class="label-name">Company Name</div>
            </div>
            <div class="col" (click)="openRowDetail(index)">
              <div class="label-value">
                {{ c.first_name }} {{ c.last_name }}
              </div>
              <div class="label-name">Contact Person Name</div>
            </div>
            <div class="col" (click)="openRowDetail(index)">
              <div class="label-value">
                {{ c.primary_phone_number ? c.primary_phone_number : "--" }}
              </div>
              <div class="label-name">Phone</div>
            </div>

            <div class="col-auto mr-4" (click)="openRowDetail(index)">
              <div class="label-value">
                {{ c.total_employee ? c.total_employee : "--" }}
              </div>
              <div class="label-name">Total Employee</div>
            </div>
            <div class="col-auto ml-auto">
              <div class="btn-group">
                <button
                  type="button"
                  class="btn btn-light dropdown-toggle"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Action
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <a
                    class="dropdown-item"
                    *ngIf="selectedItemIndex !== index"
                    (click)="openRowDetail(index)"
                    ><i class="fa fa-eye" aria-hidden="true"></i> View</a
                  >
                  <a class="dropdown-item" (click)="openClient('edit', index)"
                    ><i class="fas fa-user-edit"></i> Edit</a
                  >
                  <a class="dropdown-item" (click)="openDeleteUserModel(c.id)"
                    ><i class="fa fa-trash" aria-hidden="true"></i> Delete</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="candidate-details-full border-top"
          *ngIf="selectedItemIndex === index"
        >
          <div class="row">
            <div class="col">
              <div class="card-body">
                <div class="row mb-3">
                  <div class="col">
                    <div class="label-value">
                      {{ c.company_tin_number ? c.company_tin_number : "--" }}
                    </div>
                    <div class="label-name">Company Federal Id</div>
                  </div>
                  <div class="col">
                    <div class="label-value">
                      {{ c.company_address ? c.company_address : "--" }}
                    </div>
                    <div class="label-name">Company Address</div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col">
                    <div class="label-value">
                      {{ c.about_company ? c.about_company : "--" }}
                    </div>
                    <div class="label-name">About Company</div>
                  </div>
                  <div class="col">
                    <div class="label-value">
                      {{ c.country ? c.country : "--" }}
                    </div>
                    <div class="label-name">Country</div>
                  </div>
                </div>

                <div class="row mb-3">
                  <div class="col">
                    <div class="label-value">
                      {{ c.skype_id ? c.skype_id : "--" }}
                    </div>
                    <div class="label-name">Skype Id</div>
                  </div>

                  <div class="col">
                    <div class="label-value">
                      {{ c.linkedin_id ? c.linkedin_id : "--" }}
                    </div>

                    <div class="label-name">Linkedin Id</div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col">
                    <div class="label-value">
                      {{ c.primary_email ? c.primary_email : "--" }}
                    </div>
                    <div class="label-name">Email</div>
                  </div>
                  <div class="col">
                    <div class="label-value">{{ c.rank ? c.rank : "--" }}</div>
                    <div class="label-name">Rank</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="label-value">
                      {{ c.primary_skills ? c.primary_skills : "--" }}
                    </div>
                    <div class="label-name">Skills</div>
                  </div>
                  <div class="col">
                    <div class="label-value">
                      {{ c.created_at | date: "medium" }}
                    </div>
                    <div class="label-name">Created At</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-6 col-sm-12">
          <div class="text-muted showing-entries">
            Showing {{ (page - 1) * limit + 1 }} to
            {{
              collectionSize < limit || collectionSize < page * limit
                ? collectionSize
                : page * limit
            }}
            of {{ collectionSize }} entries
          </div>
        </div>
        <div class="col-auto ml-auto">
          <ngb-pagination
            [collectionSize]="collectionSize"
            [(page)]="page"
            [pageSize]="limit"
            [maxSize]="5"
            [rotate]="true"
            [ellipses]="false"
            [boundaryLinks]="true"
            (pageChange)="page = $event; this.fetchCollectionList()"
          ></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
