.border-green-light {
    border-color: #7dcb9f !important;
}

.modal-xl .modal-lg {
    max-width: 500px;
  }

.example-header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    margin-bottom: 5px;
  }