.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.activity-close{ position: relative; top:-1px;}

.table .thead-dark th {
    color: #212529;;
    background-color: #e9ecef;
    border-color: #dee2e6;
}
#okay-button{
    padding:5px 10px;
}
.orText{ line-height:40px; width:50px; text-align: center;}

.inputDnD .form-control-file {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 90px;
    outline: none;
    visibility: hidden;
    cursor: pointer;
    background-color: #c61c23;
    box-shadow: 0 0 5px solid #ccc;
  }
  
  .inputDnD .form-control-file:before {
    content: attr(data-title);
    position: absolute;
    top: 0.5em;
    left: 0;
    width: 100%;
    min-height: 80px;
    line-height: 2em;
    padding-top: 1.5em;
    opacity: 1;
    visibility: visible;
    text-align: center;
    border: 0.25em dashed #ccc;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
  }
  
  .inputDnD .form-control-file:hover:before {
    border-style: solid;
    box-shadow: inset 0px 0px 0px 0.25em #ccc;
    min-height: 80px;
  }
  